
/*navbar*/
header{
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Cuando la clase .visible se agrega, el header aparece */
header.visible {
    opacity: 1;
    transform: translateY(0);
}
.navbar{
    padding: 0.5rem;
    background: linear-gradient(70deg, #3399ff,#0080ff,#0066cc,#004c99);
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    font-size: 25px;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}


#linksNav{
    color: white;
}

#logoEncabezado{
    width: 170px;
    height: 65px;
}
/*Area hereo*/
.hero-section {
    position: relative;
    background-image: url(../Imagenes/imagenBanner.webp);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    padding-left: 40px; /
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35); 
}

.content {
    position: relative;
    z-index: 1;
    max-width: 50%;
}

.tituloheroe{
    font: 300 80px / 80px "GS Serif", Times, "Times New Roman", serif;
}

.iconoNegocios{
    width: 53px;
    height: 55px;
    margin-bottom: 15px;
}

.textoheroe{
    font: 400 18px / 28px "GS Sans", Helvetica, Arial, sans-serif;
}

/*seccion iconos reconocimientos-*/
.contendor-conocimientos{
    padding: 30px;
    background-color: #f3f5f5;
    text-align: center; 
}

.contendor-conocimientos .row{
    width: 100%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 100px;
}

.contendor-conocimientos .col-sm-12 {
    flex: 1; 
    max-width: 250px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
}

.contendor-conocimientos h2{
    font: 400 18px / 28px "GS Sans", Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: #003366;
    margin: 0;
}

.contendor-conocimientos i{
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/*contenedor quines somos*/
.quienesSomos{
    background-image: url(/Imagenes/fondoSections.png);
}

.quienesSomos .container{
    padding: 80px;  
}

.quinesSomosImg{
    width: 550px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.quienesSomos h2{
    font: 400 "GS Sans", Helvetica, Arial, sans-serif;
    font-size: 45px;
}

.quienesSomos h3{
    font: 400 "GS Sans", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #003366;
}

.quienesSomos p{
    font: "GS Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

/*area Vision*/
.vision  .container{
    text-align: center;
    padding: 50px;
}

.tituloVision{
    font: 400 "GS Sans", Helvetica, Arial, sans-serif;
    font-size: 45px;
}

.vision p{
    font: "GS Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
}


.imgVision2{
    width: 350px; 
}


/*area mision*/
.mision{
    background-image: url(/Imagenes/fondoSections.png);
}

.mision .container{
    padding: 50px;
}

.tituloMision{
    font: 400 "GS Sans", Helvetica, Arial, sans-serif;
    font-size: 45px;
}

.mision p{
    font: "GS Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
}


.imgMision{
    width: 550px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
/*area Valores*/
.valores .container{
    padding: 50px;
}

.tituloValores{
    font: 400 "GS Sans", Helvetica, Arial, sans-serif;
    font-size: 45px;
    text-align: center;
}

.valores p{
    font: "GS Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.valores h3{
    font: 400 "GS Sans", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #003366;
}

.imgValores{
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}




/*Area Contacto*/
.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo{
    margin-top: -5rem;
    background: linear-gradient(360deg, #3399ff,#0080ff,#0066cc);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white; 
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto h2{
    color: white;
    font-size: 25px;
    font-family: "Rubik Dirt", cursive;
}

.contacto .descripcion{
    color:  white;
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover{
    background-color: white;
    color: black;
}

.contacto button i{
    color: white;
    font-size:  1.3rem;
    transition: all 0.2s ease-in-out;

}

.contacto button:hover i{
    color:black ;
}

/*Pie de pagina (footer)*/
footer{
    min-height: 300px;
}

.footer-logo{
    height: 150px;
    width: 150px;
    margin: 10px;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: "Quicksand", sans-serif;
    color: white;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: solid 2px white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid rgb(13,110 ,253 );
}

.iconos-redes-sociales a:hover i{
    color: black;
}

.derechosDeAutor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}
/*boton de whatsapp*/
.btn-wsp{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    line-height: 55px;
    bottom: 30px;
    right: 35px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50%;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 0.3s ease;
    animation: latido 8s infinite;
}

.btn-wsp:hover{
   text-decoration: none;
   color: #0df053;
   background-color: #fff;
}

.btn-wsp i {
    line-height: 1;
    display: block;
}

@keyframes latido {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/*Cosas que solo suceden cuando se usan tablets y pantallas grandes*/
@media  screen and (min-width: 767px) {
    /*Decoracion a los links de la nav*/
    #navlinks li {
        position: relative; 
    }
    
    #navlinks li:after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        display: block;
        transition: all 0.3s ease;
        bottom: 25%;
    }
    
    #navlinks li:hover::after{
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
}

/* RESPONSIVE: Estilo para móviles */
@media (max-width: 768px) {
    .hero-section {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .overlay {
        display: none;
    }

    .hero-section {
        background: none; 
    }

    /* Imagen en la parte superior */
    .hero-section::before {
        content: "";
        display: block;
        width: 100%;
        height: 50vh;
        background-image: url(../Imagenes/imagenBanner.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content {
        max-width: 100%;
        background: black;
        padding: 20px;
        text-align: center; 
    }

    .content h1, .content p {
        text-align: center;
    }

    .tituloheroe{
        font-size: 44px;
        line-height: normal;
    }

    .iconoNegocios{
        width: 60px;
        height: 60px;
    }
    
    .contendor-conocimientos .row {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .quienesSomos .container{
        padding: 20px;
        text-align: center;
    }

    .vision  .container{
        padding: 20px;
    }

    .mision .container{
        padding: 20px;
        text-align: center;
    }

    .valores .container{
        padding: 20px;
        text-align: center;
    }



    .btn {
        width: 100%; 
    }
    .btn-wsp {
        width: 50px;
        height: 50px;
        font-size: 26px;
        bottom: 20px;
        right: 20px;
    }
}

@media (max-width: 480px) {
    .btn-wsp {
        width: 45px;
        height: 45px;
        font-size: 22px;
        bottom: 15px;
        right: 15px;
    }
}

/*responsive para tablets medianas*/
@media (min-width: 820px) and (max-width: 1000px){
    .hero-section{
        background-position: center;
    }
    
    .quienesSomos .container{
        padding: 20px;
        text-align: center;
    }

    .vision  .container{
        padding: 20px;
    }
    .mision .container{
        padding: 20px;
        text-align: center;
    }
    .valores .container{
        padding: 20px;
        text-align: center;
    }
}

/* Responsive para Tablets grandes verticales, pequeñas y medianas horizontales*/
@media (min-width: 1024px) and (max-width: 1365px){
    
        .hero-section{
            background-position: center;
        }
        
        .quienesSomos .container{
            padding: 30px;
        }
    
        .vision  .container{
            padding: 30px;
        }
        .mision .container{
            padding: 30px;
        }
        .valores .container{
            padding: 30px;
        }
}