/* Animaciones hero, secciones a parte de logos y nav*/
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animar {
    opacity: 0;
    transition: all 0.8s ease-out;
  }
  
  .animado {
    opacity: 1;
    animation: fadeInUp 1s ease-out forwards;
  }

/*Navbar*/
header{
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Cuando la clase .visible se agrega, el header aparece */
header.visible {
    opacity: 1;
    transform: translateY(0);
}

.navbar{
    padding: 0.5rem;
    background: linear-gradient(70deg, #3399ff,#0080ff,#0066cc,#004c99);
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    font-size: 25px;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}


#linksNav{
    color: white;
}

#logoEncabezado{
    width: 170px;
    height: 65px;
}


/*Seccion Heroe*/
/* Animación en los logos de marcas */
.marcas {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Cuando los logos sean visibles */
.marcas.visible {
    opacity: 1;
    transform: scale(1);
}


#seccionHeroe{
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.titulos h2{
    font-size: 38px;
    font-family: "GS Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.titulos h1{
    font-size: 50px;
    font-family: "GS Serif", Times, "Times New Roman", serif;;
    font-weight: bold;
}

.iconoNegocios{
    width: 53px;
    height: 55px;
    margin-bottom: 5px;
}

.nosotrosDesc{
    font-family: "Quicksand", sans-serif;
}


/*seccion marcas*/
#seccionMarcas{
   gap: 5px;
   background: linear-gradient(70deg, #e6f4fb,#add7f6,#e6f4fb,#add7f6,#e6f4fb);
   border-top: 3px solid black;
}


/*seccion luxus*/

#luxus{
    background-image: url("/Imagenes/campaña-luxus2022-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: white;
    font-family: "Quicksand", sans-serif;
}

#luxus h2{
    font-family: "Rubik Dirt", cursive;
}

#video_background{
    width: 300px;
}

#cartasLuxus{
    background-color: #202020;
}


.CartaLuxus{
  border: 3px solid #0a80b2;
   border-radius: 5px;
   box-shadow: 2px 2px 10px 8px #0a80b2;
}



/*linea de colores azul*/

.titulosEmpresa{
    margin-left: 20px;
}

.nosotrosDesc{
    margin-left: 40px;
}

.lineaDivisora{
    display: flex;
    width: 100%;
    height: 15px;
}

.lineaDivisora div{
    flex: 1; 
    height: 100%;
}


.lineaDivisora .color1 { background: #003366; } 
.lineaDivisora .color2 { background: #004c99; } 
.lineaDivisora .color3 { background: #0066cc; } 
.lineaDivisora .color4 { background: #0080ff; } 
.lineaDivisora .color5 { background: #3399ff; } 

/*linea de marcas*/
.marcas:hover {
    transform: scale(1.2);
}


/*Area Bayer*/
.areaBayer{
    background-color: whitesmoke;
}

#infoBayer h2{
    font-size: 45px;
    font-family: "GS Serif", Times, "Times New Roman", serif;
    font-weight: bold;
    margin-bottom: 5px;
}

#infoBayer p{
    font-family: "Quicksand", sans-serif;
}

.hoverImage{
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 8px whitesmoke;
}

.subDolores{
    color: whitesmoke;
    font-family: "Rubik Dirt", cursive;
    margin-top: 12px;
}

#contenedorDoloresyProductosBayer{
    background: linear-gradient(70deg, rgba(59, 40, 204, 0.8), rgba(59, 40, 204, 0.8));
}

#contenedorProductosBayer{
    background: linear-gradient(360deg, rgba(51, 153, 255, 0.8), rgba(0, 128, 255, 0.8), rgba(0, 102, 204, 0.8));
}

#cardsBayer{
    border-radius: 5px;
    width: 14rem;
    height: auto;
}


#botonCard:hover{
    background-color: #8cd126;
    color: black;
}

.imagenAlka{
    width: 300px;
}

/*Area Catalago*/
.catalogo{
    background: linear-gradient(70deg, #e6f4fb,#add7f6,#e6f4fb,#add7f6,#e6f4fb); 
}

.imagenCatalago{
    width: 300px;
    border: 3px solid white ;
    border-radius: 5px;

}

.imagenCatalago:hover{
    transform: scale(1.02);
}

.catalogo .container{
    max-width: 1100px;
    min-height: 500px;
    padding: 20px;
    border-radius: 5px;
}

.catalogo .catalogo-info{
    background: linear-gradient(180deg, #3399ff,#0080ff,#0066cc);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
    border: solid 2px black;
    max-width: 1000px;
}

.catalogo .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.catalogo h2{
    color: white;
    font-family: "Rubik Dirt", cursive;
}

.catalogo button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
    font-size: 1.2rem;
}

.catalogo button:hover{
    background-color: white;
    color: black;
}

.catalogo button i{
    color: white;
    font-size:  1.5rem;
    transition: all 0.2s ease-in-out;

}

.catalogo button:hover i{
    color:black ;
}
/*Area carrousel promos*/
.info{
    padding: 40px 40px 100px 40px;
}

.info h2{
    font-size: 55px;
    font-family: "GS Serif", Times, "Times New Roman", serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.info h3{
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    margin-bottom: 5px;
}

.info .carousel{
    max-width: 750px;
    box-shadow: 0px 3px 6px 3px black;
    margin-top: 10px;
}

.carousel-item{
  height: 420px;  
}


/*Area Contacto*/
.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo{
    margin-top: -5rem;
    background: linear-gradient(360deg, #3399ff,#0080ff,#0066cc);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white; 
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto h2{
    color: white;
    font-size: 25px;
    font-family: "Rubik Dirt", cursive;
}

.contacto .descripcion{
    color:  white;
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover{
    background-color: white;
    color: black;
}

.contacto button i{
    color: white;
    font-size:  1.3rem;
    transition: all 0.2s ease-in-out;

}

.contacto button:hover i{
    color:black ;
}

/*Pie de pagina (footer)*/
footer{
    min-height: 300px;
}

.footer-logo{
    height: 150px;
    width: 150px;
    margin: 10px;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: "Quicksand", sans-serif;
    color: white;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: solid 2px white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid rgb(13,110 ,253 );
}

.iconos-redes-sociales a:hover i{
    color: black;
}

.derechosDeAutor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/*boton de whatsapp*/
.btn-wsp{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    line-height: 55px;
    bottom: 30px;
    right: 35px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50%;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all 0.3s ease;
    animation: latido 8s infinite;
}

.btn-wsp:hover{
   text-decoration: none;
   color: #0df053;
   background-color: #fff;
}

.btn-wsp i {
    line-height: 1;
    display: block;
}

@keyframes latido {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/*responsive para telefonos*/
@media  screen and (max-width: 767px) {
 
    #seccionHeroe{
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .titulos h2{
        margin-top: 0;
        font-size: 30px;
    }

    .titulos h1{
        margin-top: 0;
        font-size: 20px;
    }

    .titulos strong{
        font-size: 38px;
    }

    .titulosEmpresa{
        text-align: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .lineaDivisora{
        width: auto;
    }

    .nosotrosDesc{
        text-align: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }


    #cartasLuxus{
        display: flex;
        justify-content: center;
        margin-bottom: 20px; 
    }


    #cajaProductos {
        justify-content: center; 
    }
    
    #cartaBayer{
        display: flex;
        justify-content: center;
        margin-bottom: 20px; 
    }

    .info h2{
        font-size: 30px;
    }

    .info h3{
        font-size: 20px;
    }

    .carousel-item{
        width: 300px;
        height: auto;
    }

    .info-imagen{
        height: 120px;
        width: 230px;
    }

    .info .carousel{
        width: 300px;
    }
    .btn {
        width: 100%; 
    }
    .btn-wsp {
        width: 50px;
        height: 50px;
        font-size: 26px;
        bottom: 20px;
        right: 20px;
    }
}

/*Cosas que solo suceden cuando se usan tablets y pantallas grandes*/
@media  screen and (min-width: 767px) {
    /*Decoracion a los links de la nav*/
    #navlinks li {
        position: relative; 
    }
    
    #navlinks li:after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        display: block;
        transition: all 0.3s ease;
        bottom: 25%;
    }
    
    #navlinks li:hover::after{
        width: 100%;
        height: 2px;
        background-color: #fff;
    }

    .iconoNegocios{
        margin-left: 10px;
    }

    .infoLuxus{
        margin-left: 150px;
        margin-right: 150px;
    }

}

/*responsive para pantallas hd*/
@media  screen and (max-width: 1367px){
    #cardsBayer{
        width: 13rem;
        height: 450px;
    }

    .titulos h2{
        font-size: 35px;
    }

    .titulos h1{
        font-size: 45px;
    }
}

/*responsive para tablets pequeñas*/
@media (min-width: 768px) and (max-width: 815px){
    #seccionHeroe{
        text-align: center;
        padding: 20px;
    }

    #herorow{
        justify-content: center;
    }

    .nosotrosDesc{
        margin: 0;
        height: 200px;
        width: 90%;
    }

    #cajaProductos{
        text-align: center;
        margin-left: 60px;
    }

    #cardsBayer{
        width: 15rem;
        height: 450px;
        margin-bottom: 10px;
    }
}

/*responsive para tablets medianas*/
@media (min-width: 820px) and (max-width: 1000px){
    #seccionHeroe{
        text-align: center;
        padding: 20px;
    }

    #herorow{
        justify-content: center;
    }

    .nosotrosDesc{
        margin: 0;
        height: 200px;
        width: 90%;
    }

    #cajaProductos{
        text-align: center;
        margin-left: 80px;
    }

    #cardsBayer{
        width: 15rem;
        height: 450px;
        margin-bottom: 10px;
    }

    .carousel-item{
        height: auto;
    }
}

/* Responsive para Tablets grandes verticales, pequeñas y medianas horizontales*/
@media (min-width: 1024px) and (max-width: 1365px){
    #cajamarca{
        display: flex;
        justify-content: center;
    }

    #cartasLuxus img{
        width: 210px;
    }

    .hoverImage{
        width: 210px;
    }

    .subDolores{
        font-size: 1.6rem;
    }

    #cardsBayer{
        width: 14rem;
        height: 450px;
        margin-bottom: 10px;
        margin-left: 50px;
    }
}